.path{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1100;
  }
  to {
    stroke-dashoffset: 0;
    fill: red;
  }
}

 .line:hover {
  fill: blue;
  stroke: blue;
} 

@keyframes hideshow {
     from {
          opacity: 0; 
    }
    to {
        opacity: 1; 
    }
} 

@-webkit-keyframes hideshow {
    from {
          opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.text-1 {
  animation: hideshow 15s ease;
}