.path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 822;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .line:hover {
    fill: blue;
  }
  
  @keyframes hideshow {
    100% { opacity: 1; }
    15% { opacity: 1; }
    10% { opacity: 0; }
    0% { opacity: 0; }
    
    
    
  } 
  
  .text-1 {
    animation: hideshow 15s ease infinite;
  }
  
  .text-2 {
    animation: hideshow 18s ease infinite;
  }
  
  .text-3 {
    animation: hideshow 17s ease infinite;
  }
  
  